
.button{
    padding-left: 32px;
    display: inline-block;
    @include breakpoint(mobile-max) {
      padding: 0 28px;
    }
    .cmp-button {
        background: $color-dark-sky-blue;
        border-radius: 32px;
        padding: 12px 24px;
        border: 0;
        margin: 12px;
        min-width: 102px;
        min-height: 44px;
        display: inline-block;
        text-align: center;
        @include breakpoint(mobile-max) {
          margin: 12px 0;
          width: 100%;
        }
        margin: 12px; 
        .cmp-button__text {
            @extend .navigation1;
            color: $color-white;
        }
    }
    &__light{
        .cmp-button {
            background: $color-medium-light-blue;
            .cmp-button__text {
                color: $color-dark-sky-blue;
            }
        }
    }
    &__white{
        .cmp-button {
            background: $color-white;
            .cmp-button__text {
                color: $color-dark-sky-blue;
            }  
        }
    }
    &__outline,&__filled{
        .cmp-button {
            background: transparent;
            border: 2px solid $color-dark-sky-blue;
            .cmp-button__text {
                color: $color-dark-sky-blue;
            }
        }
    }
    &__filled{
        .cmp-button {
            background: $color-white;
        }
    }
    &__icon,&__icon--white{
        .cmp-button {
            width: auto;
            background-color: transparent;
            padding: 10px 52px 10px 12px;
            .cmp-button__text {
                color: $color-dark-sky-blue;
                position: relative;
                display: flex;
                align-items: center;
                &::after{
                    content: "";
                    display: block;
                    background: url('../resources/images/Right_Arrow_Blue.svg') no-repeat;
                    height: 16px;
                    width: 16px;
                    position: absolute;
                    right: -34px;
                }
            }
        }
    }
    &__icon--white{
        .cmp-button {
            background: transparent;
            border-radius: 0;
            .cmp-button__text {
                color: $color-white; 
                &::after{
                    background: url('../resources/images/Right_Arrow_White.svg') no-repeat; 
                }
            }
        }
    }
    &__enabled{
        .cmp-button {
            background: transparent;
            .cmp-button__text {
                color: $color-dark-sky-blue; 
            }
        }
    }
    &__disabled{
        .cmp-button {
            background: transparent;
            .cmp-button__text {
                color: $color-medium-slate-gray; 
                cursor: none;
            }
        }
    }
}
a.button {
    display: inline-block;
    text-decoration: none;
    &.cmp-button {
      background: $color-dark-sky-blue;
      border-radius: 32px;
      padding: 12px 24px;
      border: 0;
      margin: 0;
      color: $color-white;
      text-align: center;
      @extend .navigation1;
      @include breakpoint(mobile-max) {
        width: 100%;
      }
    }
    &__light {
      background: $color-medium-light-blue !important;
      color: $color-dark-sky-blue !important;
      @extend .navigation1;
    }
    &__white {
      background: $color-white !important ;
      color: $color-dark-sky-blue !important;
      @extend .navigation1;
    }
    &__white {
      background: $color-white;
      color: $color-dark-sky-blue;
      text-decoration: none;
      @extend .navigation1;
    }
  
    &__outline,
    &__filled {
      background: transparent !important;
      border: 2px solid $color-dark-sky-blue !important;
      color: $color-dark-sky-blue !important;
    }
    &__filled {
      .cmp-button {
        background: $color-white;
      }
    }
    &__icon,
    &__icon--white {
      color: $color-dark-sky-blue !important;
      position: relative;
      display: inline-flex;
      align-items: center;
      width: auto;
      background-color: transparent !important;
      padding: 10px 52px 10px 12px;
      &::after {
        content: "";
        display: block;
        background: url("../resources/images/Right_Arrow_Blue.svg")
          no-repeat;
        height: 16px;
        width: 16px;
        position: absolute;
        right: -15px;
      }
    }
    &__icon--white {
      background: $color-black !important;
      border-radius: 0 !important;
      color: $color-white !important;
      text-align: left;
      padding-right: 50px !important;
      &::after {
        background: url("../resources/images/Right_Arrow_White.svg")
          no-repeat;
        right: 15px;
      }
    }
    &__enabled {
      background: transparent !important;
      color: $color-dark-sky-blue !important;
    }
    &__disabled {
      background: transparent !important;
      color: $color-medium-slate-gray !important;
    }
  }