.cmp-teaser {
   
	@media(max-width:1023px) {
		 padding: 0 28px;
	}
  .cmp-teaser__description{
    margin-bottom: 24px;
    line-height: 24px;
    // min-height: 72px;
    @media (min-width: 768px) {
      margin-bottom: 32px;
    }
  }
    &__content {
      position: absolute;
      margin: 48px 80px;
      max-width: 456px;
      @media (max-width: 650px) {
        margin: 0;
        padding: 32px 24px;
        max-width: 100%;
      }
    }
    .cmp-teaser__content{
      color: $color-white;
    }

    &__action-container {
      display: flex;
      align-items: center;
      gap: 32px;
      @media (max-width: 650px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 21px;
      }
    }
    &__image {
      display: flex;
      align-items: center;
      min-height: 380px;
      img{
        display: none !important;
      }
  
      @media (max-width: 650px) {
        justify-content: center;
        position: relative;
      }
      .cmp-image {
        min-height: 380px;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        @media (max-width: 650px) {
          min-height: 419px;
        }
      }
    }
  }
  .teaser{
    &.two-column {
      .cmp-teaser__image{
        @media (max-width: 650px) {
        justify-content: flex-start;
        }
      }
    }
    &.row-reverse,&.two-column {
      .cmp-teaser{       
        .cmp-teaser__description,.cmp-teaser__pretitle{
          color: $color-dark-slate-gray;
        }

        .cmp-teaser__pretitle{
          line-height: 18px;
          font-size: 12px;
        }
        .cmp-teaser__title{
          line-height: 44px;
          color:$color-dark-sky-blue;
        }
          .cmp-teaser__image {
            background: $color-light-light-blue;
            flex-direction: row;
            justify-content: flex-start;
            @media (max-width: 650px) {
              flex-direction: column;
            }
            .cmp-image {
              width: 455px;
              overflow: hidden;
              display: flex;
              align-items: center;
      
              @media (max-width: 650px) {
                width: 100%;
                min-height: 250px;
              }
            }
            .cmp-teaser__content {
              position: relative;
              max-width: 480px;
              margin: 0;
              padding: 40px 62px 85px 0;              
              @media (max-width: 650px) {
                padding: 32px 16px;
                width: 100%;
              }
            }
            .cmp-teaser__action-container {
              @media (max-width: 650px) {
                flex-direction: column;
                align-items: flex-start;
                gap: 21px;
              }
            }
          }
        }
      }
    }
    .teaser{
      &.row-reverse {
        .cmp-teaser{
          .cmp-teaser__image {
            flex-direction: column;
            
            @media (min-width: 768px) {
              flex-direction: row-reverse;
              justify-content: space-between;
            }
          }
          }
        }
  }
  .teaser{
    a{
      &.button{
        border-radius: 32px;
        padding: 12px 24px;
        border: 0;
        margin: 0;
        background: $color-white ;
        color: $color-dark-sky-blue;
        width: auto;
        @extend .navigation1;
        text-align: center;
        @extend .navigation1;
      }
    }
    &.row-reverse,&.two-column{
      a{
        &.button{
          background: $color-dark-sky-blue;
          border-radius: 32px;
          padding: 12px 24px;
          border: 0;
          margin: 0;
          color: $color-white;
          text-align: center;
          @extend .navigation1;
        }
      }
    }
  }
  .teaser.two-column .cmp-teaser .cmp-teaser__image .cmp-teaser__content{
    padding: 40px 62px 85px 80px;
  }