.footersociallinks{
    margin-bottom: 70px;
    background: $color-dark-sky-blue;
    p{
        @extend .body2;
        color: $color-white;
        padding-bottom: 18px;
    }
    a{
        text-decoration: none;
        &:not(:last-child){
            margin-right: 20px;
        }
    }
}